body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #BFBF5E, #58692E);
  padding: 10px 40px;
}

.logo img {
  width: 90px;
  margin-top: 20px;
  height: auto;
  display: block;
}

.menuLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menuLinks a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.menuLinks a:hover {
  color: #D56B1D;
}


.Perfil_saida {
  display: flex;
  gap: 10px;
}

.perfil {
  background: white;
  border: none;
  padding: 10px 13px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.perfil:hover {
  background: #D56B1D;
}

.sair {
  background: white;
  border: none;
  padding: 10px 13px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.sair:hover {
  background: darkred;
}

/* RODAPÉ */

.rodape {
  background: #222;
  color: white;
  padding: 50px 20px;
}

.rodape-conteudo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.rodape h3 {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
}

.botao-mensagem {
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #D56B1D, #d08c5c);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* efeito ao passar mouse */
.botao-mensagem:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

/* clique */
.botao-mensagem:active {
  transform: scale(0.95);
}

/* animação do ícone */
.botao-mensagem:hover .icone {
  transform: rotate(-20deg) scale(1.2);
}

/* brilho animado */

.botao-mensagem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  transition: all 0.6s;
}

.botao-mensagem:hover::before {
  left: 100%;
}



/* CONTAINER */

.contato {
  padding-top: 120px;
  padding-bottom: 80px;
  text-align: center;
}

.contato h1 {
  font-size: 45px;
  color: #D56B1D;
  margin-bottom: 10px;
}

.descricao {
  font-size: 18px;
  margin-bottom: 50px;
}


/* CONTAINER FLEX */

.contato-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}


/* FORM */

.form-contato {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.form-contato label {
  color: #D56B1D;
  font-weight: bold;
}

.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #BFBF5E;
  border-radius: 5px;
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
}


/* INFO CONTATO */

.info-contato {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.info-contato h3 {
  color: #D56B1D;
  margin-bottom: 10px;
}


/* RODAPÉ */

.rodape {
  margin-top: 80px;
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}