body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #BFBF5E, #58692E);
  padding: 10px 40px;
}

.logo img {
  width: 90px;
  margin-top: 20px;
  height: auto;
  display: block;
}

.menuLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menuLinks a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.menuLinks a:hover {
  color: #D56B1D;
}


.Perfil_saida {
  display: flex;
  gap: 10px;
}

.perfil {
  background: white;
  border: none;
  padding: 10px 13px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.perfil:hover {
  background: #D56B1D;
}

.sair {
  background: white;
  border: none;
  padding: 10px 13px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.sair:hover {
  background: darkred;
}


/* HERO */

.hero {
  margin-right: 20px;
  margin-top: 0px;
  padding: 100px 60px;
  background: white;
  border-bottom-right-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-hero {
  max-width: 600px;
}

.conteudo-hero h1 {
  color: #D56B1D;
  font-size: 55px;
  margin-bottom: 20px;
}

.conteudo-hero p {
  font-size: 20px;
  line-height: 1.5;
}

.conteudo-hero strong {
  color: #FFC107;
}

.botao-acao {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(1235deg, #D56B1D, #d08c5c);
  color: white;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;

  position: relative;
  overflow: hidden;
}

/* efeito ao passar mouse */
.botao-acao:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

/* clique */
.botao-acao:active {
  transform: scale(0.95);
}

/* animação do ícone */
.botao-acao:hover .icone {
  transform: rotate(-20deg) scale(1.2);
}

/* brilho animado */

.botao-acao::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  transition: all 0.6s;
}

.botao-acao:hover::before {
  left: 100%;
}


/* ADOÇÃO */

.adocao-chamada {
  margin-left: 20px;
  margin-top: 100px;
  padding: 100px 60px;
  background: white;
  border-top-left-radius: 120px;
  display: flex;
  justify-content: flex-end;
}

.adocao-chamada strong {
  color: #FFC107
}

.conteudo-adocao {
  max-width: 600px;
  text-align: right;
}

.conteudo-adocao h2 {
  color: #D56B1D;
  font-size: 50px;
  margin-bottom: 20px;
}

.conteudo-adocao p {
  font-size: 20px;
  line-height: 1.5;
}


.botao-adotar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  margin-left: 445px;
  font-size: 20px;
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #D56B1D, #d08c5c);
  color: white;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* efeito ao passar mouse */
.botao-adotar:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

/* clique */
.botao-adotar:active {
  transform: scale(0.95);
}

/* animação do ícone */
.botao-adotar:hover .icone {
  transform: rotate(-20deg) scale(1.2);
}

/* brilho animado */

.botao-adotar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  transition: all 0.6s;
}

.botao-adotar:hover::before {
  left: 100%;
}


/* IMPACTO */

.impacto {
  color: white;
  margin-top: 0px;
  background: linear-gradient(135deg, #BFBF5E, #58692E, #D56B1D);
  padding: 80px 20px;
  text-align: center;
}

.impacto h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.grafico-container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* RODAPÉ */

.rodape {
  background: #222;
  color: white;
  padding: 50px 20px;
}

.rodape-conteudo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.rodape h3 {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
}


/* ANIMAIS DESTAQUE */

.animais-destaque {
  padding: 80px 20px;
  text-align: center;
}

.animais-destaque h2 {
  font-size: 40px;
  color: #D56B1D;
  margin-bottom: 40px;
}

.cards-animais {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-animal {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 250px;
  transition: 0.3s;
}

.card-animal:hover {
  transform: translateY(-10px);
}

.card-animal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-animal button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #58692E;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


/* COMO ADOTAR */

.como-adotar h2 {
  color: #D56B1D;
}
.como-adotar {
  background: white;
  padding: 80px 20px;
  text-align: center;
}

.passos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.passo {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 15px;
  width: 200px;
}

.passo h3 {
  font-size: 40px;
  color: #D56B1D;
}

.depoimentos h2{
  text-align: center;
  color: #d08c5c;
}

.depoimentos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.depoimento {
  display: none;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.depoimento.ativo {
  display: block;
}

.seta {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #D56B1D;
  transition: 0.3s;
}

.seta:hover {
  transform: scale(1.2);
}

/* IMPACTO */

.impacto {
  background: linear-gradient(135deg, #BFBF5E, #58692E, #D56B1D, #FFC107);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.impacto h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.impacto-numeros {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.impacto-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 200px;
}

.impacto-item h3 {
  font-size: 40px;
  margin-bottom: 10px;
}