body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Lado esquerdo */
.container {
  display: flex;
  height: 100vh;
}

.lado-esquerdo {
  width: 60%;
  background: linear-gradient(135deg, #BFBF5E, #58692E);
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  border: #BFBF5E solid 2px;
  border-radius: 8px;
  background-color: white;
  padding: 40px 60px;
  margin-left: 50px;
  width: 300px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.c h2 {
  text-align: center;
  color: #D56B1D;
  margin-bottom: 25px;
}

.c input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #BFBF5E;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.c input:focus {
  border-color: #D56B1D;
  box-shadow: 0 0 5px rgba(160, 170, 96, 0.4);
}

.c button {
  width: 106%;
  padding: 12px;
  margin-top: 20px;
  background-color: #A0AA60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.c button:hover {
  background-color: #58692E;
}

.c a {
  display: block;
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
  color: #D56B1D;
  text-decoration: none;
  font-weight: bold;
}

.c a:hover {
  text-decoration: underline;
}

.linkC {
  display: flex;
  flex-direction: row;

}

.m {
  width: 100%;
  text-align: center;
  padding: 7px 9px;
  margin-top: 5px;
  background-color: #ffe6e6;
  color: #c50202;
  border-radius: 5px;
  font-size: 0.9em;
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
}

.m.mostrar {
  opacity: 1;
  transform: translateY(0);
  max-height: 50px;
}

/* Lado direito */
.lado-direito {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 80%;
  height: auto;
}